@model IList<Movies.DataModel.Movy>

@{
    ViewBag.Title = "Movies";
}

<h2>@ViewBag.Title</h2>

<div class="row-fluid">
    <div class="span6">
        <table id="movies-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Director</th>
                </tr>
            </thead>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].Title</td>
                    <td>@Model[i].Director</td>
                    <td>
                        @Ajax.ActionLink("View Details", "Index", new { id = Model[i].MovieId },
            new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "movie-container"
            })
                    </td>
                    <td>
                        @Ajax.ActionLink("Edit", "EditIndex", new { id = Model[i].MovieId },
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "movie-container"
                    }, new {@class = "btn" })
                    </td>

                    <td>
                        @Ajax.ActionLink("Delete", "Delete", new { id = Model[i].MovieId },
                    new AjaxOptions
                    {
                        Confirm = "Are you sure you want to delete \"" + Model[i].Title + "\"?", //string.Format("Are you sure you want to delete \"{0}\"", Model[i].Title),
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "container",
                        OnSuccess = "deleteSuccess"
                    }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </table>
        @Ajax.ActionLink("Add Movie", "CreateNew", null,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "movie-container"
        }, new { @class = "btn btn-info" })
    </div>

    <div id="movie-container" class="span5 well">
    </div>
</div>

<script>
    function deleteSuccess() {
        $("#movie-container").html("<p>Movie deleted!</p>");
    }
</script>